include README.md
include README.rst
include LICENSE.txt
include Makefile
include docker/Dockerfile
include hello_led.py
recursive-include utils *
recursive-include examples *
recursive-include tests *
recursive-include img *
