include README.md
include README.rst
include LICENSE
include pytest.ini
include .travis.yml
include Makefile
include docker/Dockerfile
include hello_led.py
recursive-include utils *
recursive-include tests *
recursive-include examples *
recursive-include img *
recursive-include scripts *
